<!DOCTYPE html>
<html lang="{language}">
    <head>
        <meta charset="utf-8">
        <title>{title}</title>
        {style}
        <style>{imageCSS}</style>
    </head>
    <body>
        {platformIcons}
        <header id="controls">
            <input type="search" id="search" placeholder="Search…">
            <input type="range" id="width" min="32" max="342" value="140">
            <input type="range" id="spacing" min="0" max="128" value="12">
        </header>
        <div id="overlay"></div>{debug}
        <section id="games">
{content}
        </section>
        {javascript}
    </body>
</html>